<%-include("header");-%>
  <div class='content'>
    <h1>Name</h1>
    <h3>Rayna</h3>
    <h1>Number</h1>
    <h3>0508776545</h3>

    <h1>Email</h1>
    <h3>raynajoseph@gmail.com</h3>

    <h1>Address</h1>
    <h3>Country: UAE
      City: Dubai,
      Street: Damascus Street,
      Building: Oasis,
      Flat: 154
    </h3>
    </div>
    <br>

    <%-include("footer");-%>